.container {

	ul {
		list-style-type: none;
	}

	li {
		width: 170px;
		height: 400px;
	}

	img {
		width: 160px;
		height: 240px;
	}

	.book-text {
		font-size: 20px;
	}

	a {
		text-decoration: none;
	}

	a:link {
		color: black;
	}


	.title {
		font-weight: 700;
	}

	.author {
		font-weight: 600;
	}

}